nav {
  background-color: rgba(186, 243, 230, 0.797);
  /* box-shadow: 0px 5px 20px 0px #3f7a801d; */
  box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 4px,
    rgba(0, 0, 0, 0.2) 0px -4px 4px inset;
  left: 0;
  right: 0;
  z-index: 1300;
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-fill: balance;
  top: 0;
  position: sticky;
  backdrop-filter: blur(8px);
}

nav text {
  font-size: 2rem;
  color: #004d5a;
  margin: 15px;
  font-weight: 800;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.3em;
}

nav ul {
  display: flex;
}

nav ul li {
  list-style: none;
  margin-top: 18px;
}

nav ul li a {
  display: block;
  /* remove the line aunder text */

  text-decoration: none;
  color: #004d5a;
  font-weight: 700;
  padding: 0.6rem;
  margin: 0 0.6rem;

  border-radius: 0.5rem;
}

nav ul li a:hover {
  background-color: #004d5a44;
}

nav .menu {
  display: none;
  position: absolute;
  right: 0.75rem;
  /* background-color: #004d5a44; */
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  width: 2.2rem;
  height: 1.9rem;
  margin-top: 10px;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: #004d5a;
  border-radius: 0.2rem;
}
.linkHome {
  text-decoration: none;
}

@media (max-width: 700px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul li {
    width: 100%;
    text-align: center;
  }

  /* nav ul li a{
        margin: 0.2rem 0.5rem;
    } */

  nav ul.open {
    display: flex;
  }
}
