.card {
  width: 245px;
  display: flex;
  height: 400px;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 8px;
  padding: 10px;
}
.imgcard {
  padding: 11px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: 250px;
}
img {
  width: 100%;
  align-items: center;
}
.nd {
  flex-direction: column;
  height: 80px;
}
.nd h6 {
  justify-content: start;
  align-items: start;
}
.price {
  font-weight: bold;
  font-size: larger;
  text-align: end;
  color: brown;
}

.btn1 {
  margin-top: 8px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transition: all 0.8s;
  margin-bottom: 8px;
}
.btn1 button:first-child {
  /* position: relative; */
  /* display: inline-block; */
  /* margin: 15px; */
  height: 40px;
  width: 120px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #1e6400;
  background: transparent;
  cursor: pointer;
  margin-right: 7px;
  transition: ease-out 0.5s;
  border: 2px solid #1e6400;
  border-radius: 7px;
  box-shadow: inset 0 0 0 0 #1e6400;
}
.btn1 button:last-child {
  /* position: relative; */
  /* display: inline-block; */
  /* margin: 15px; */
  height: 40px;
  width: 80px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;
  color: #e5cc2a;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #e5cc2a;
  border-radius: 7px;
  box-shadow: inset 0 0 0 0 #e5cc2a;
}

.btn1 button:last-child:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #e5cc2a;
}
.btn1 button:first-child:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 #1e6400;
}
s .btn1 button:active {
  transform: scale(0.9);
}
